body {
  font-family: Poppins;
  text-align: center;
  background-color: rgb(20, 20, 20);
  color: rgb(230, 230, 230);
}

button {
  background-color: transparent;
  color: rgb(230, 230, 230);
  border: 1px solid;
  border-radius: 4px;
  font-family: Poppins;
  cursor: pointer;
}

h1 {
  margin: 15px 0px;
}

h2 {
  margin: 0px;
  font-weight: 600;
  font-size: 18px;
}

h3 {
  margin: 0px;
  font-weight: 600;
  font-size: 17px;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  align-items: center;
  max-height: 70px;
  gap: 5px;
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 5px;
  flex: 1;
  max-width: 300px;
  transition: border-width 0.1s;
}

.player.current {
  border-width: 4px;
}

.shop {
  padding: 10px;
  margin: 20px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-auto-rows: 200px;
  gap: 15px;
}

.item {
  font-size: 15px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  transition: opacity 0.1s;
}

.item:disabled {
  opacity: 0.5;
  cursor: default;
}

.item-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-description {
  margin: 10px 0px;
  text-align: left;
}

.item-restriction-grid {
  margin: 0px;
  display: grid;
  width: 100%;
}

.item-restriction {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  text-align: left;
}

.item-restriction-icon {
  color: red;
  margin-right: 2px;
}
